$xxl: 1399.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;

$white: #f9f9f9;
$black: #0c0c0c;
$black-06: rgba(0, 0, 0, .6);
$gray: #afafaf;
$gray-dark: #808080;
$cyan: #02D3DE;
$cyan-dark: #029AA2;
$blue: #233c4a;
$blue-dark: #202f38;
$blue-light: #234854;
$bg: #022B3A;

body {
  color: #0c0c0c;
  color: #050801;
}

:root {
  --container: 1440px;
  --gap: 16px;

  @media(max-width: $xl) {
    --container: 0px;
  }

  @media(max-width: $lg) {
    --container: 0px;
  }

  @media(max-width: $md) {
    --container: 0px;
  }

  @media(max-width: $sm) {
    --container: 100%;
  }
}
