body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $white;
}

.container {
  padding: 0 15px;
  max-width: var(--container);
  margin: 0 auto;
}

section {
  position: relative;
}

input {
  padding: 13px 18px;
  border-radius: 37px;
  background: transparent;
  border: 2px solid $blue-light;
  transition: border-color 0.3s ease-in-out;

  &::placeholder {
    color: $gray;
  }

  &:hover,
  &:focus-visible {
    border-color: $cyan-dark;
  }
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: $bg url('@img/body-bg.svg') no-repeat center / cover;
  z-index: -1;
}

.logo {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  width: fit-content;
  font-size: 32px;
  letter-spacing: 0.07em;
  font-weight: 700;

  &__text {
    color: $cyan;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-right: auto;

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover,
    &_active {
      .nav__text::after {
        width: 100%;
        background: $cyan;
      }

      .nav__icon {
        color: $cyan;
      }
    }

    &_active {
      .nav__text {
        color: $cyan;
      }
    }
  }

  &__icon {
    flex: none;
    width: 30px;
    height: 30px;
    transition: color 0.3s ease-in-out;
  }

  &__text {
    position: relative;
    transition: color 0.3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      background: transparent;
      border-radius: 5px;
      transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
    }
  }
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 24px;

  &_cyan {
    color: $cyan;
  }
}

.movie-card {
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 4;
    width: 100%;
    border-radius: 17px;

    &:hover {
      .movie-card__poster-wrap::before {
        background: rgba(0, 0, 0, 0.3);
      }

      .movie-card__title {
        color: $cyan-dark;
      }
    }
  }

  &__poster {
    &-wrap {
      position: relative;
      margin-bottom: 8px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        transition: background-color 0.3s ease-in-out;
        border-radius: 17px;
      }
    }

    background: gray;
    width: 100%;
    height: 100%;
    border-radius: 17px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
    transition: color 0.3s ease-in-out;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__year-genre {
    margin-top: auto;
    font-size: 15px;
    color: $gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.rating {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  min-width: 32px;
  min-height: 20px;
  padding: 0 5px;
  border-radius: 5px;
  background: $gray-dark;
  user-select: none;
  cursor: unset;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    min-width: 40px;
    min-height: 35px;
    padding: 0 10px;
    border-radius: 7px;
    background: $cyan-dark;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      background: darken($cyan-dark, 10%);
    }

    &_active {
      background: darken($cyan-dark, 10%);
    }

    &_prev,
    &_next {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &_prev {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba($black, .5);
  backdrop-filter: blur(10px);
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 15px 0;
  width: 50%;
  height: 50%;
  color: $black;
  background: $white;
  border-radius: 15px;
  &>* {
    height: 100%;
    overflow: auto;
  }
}

.movie {
  height: 90%;
  width: 90%;

  &__container {
    display: flex;
    gap: 50px;
  }

  &__poster {
    &-wrap {}
    border-radius: 5px;
  }

  &__info {}

  &__main {
    margin-bottom: 50px;
  }

  &__title-release {
    line-height: 1; 
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__title {}

  &__release {
    font-size: 40px;
  }

  &__title-original-certification {
    color: $black-06;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title-original {
    font-size: 18px;
    font-weight: 300;
  }

  &__certification {
    font-size: 12px;
    padding: 2px 5px;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid $black-06;
  }

  &__about {
    &-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &-heading {
      width: 160px;
      color: $black-06;
    }

    &-text {}
  }
}
