body {
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
}

.container {
  padding: 0 15px;
  max-width: var(--container);
  margin: 0 auto;
}

section {
  position: relative;
}

input {
  padding: 13px 18px;
  border-radius: 37px;
  background: transparent;
  border: 2px solid var(--blue-light);
  transition: border-color .3s ease-in-out;

  &::placeholder {
    color: var(--gray);
  }

  &:hover,
  &:focus-visible {
    border-color: var(--cyan-dark);
  }
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: var(--bg) url('@img/body-bg.svg') no-repeat center / cover;
  z-index: -1;
}

.logo {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  width: fit-content;
  font-size: 32px;
  letter-spacing: 0.07em;
  font-weight: 700;

  &__text {
    color: var(--cyan);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-right: auto;

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover,
    &_active {
      .nav__text::after {
        width: 100%;
        background: var(--cyan);
      }
      .nav__icon {
        color: var(--cyan);
      }
    }

    &_active {
      .nav__text {
        color: var(--cyan);
      }

    }
  }

  &__icon {
    flex: none;
    width: 30px;
    height: 30px;
    transition: color .3s ease-in-out;
  }

  &__text {
    position: relative;
    transition: color .3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      background: transparent;
      border-radius: 5px;
      transition: background-color .3s ease-in-out,
        width .3s ease-in-out;
    }
  }
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 24px;
}

.movie-card {
  &__link {
    position: relative;
    z-index: 3;
    width: 100%;
    border-radius: 17px;

    &:hover {
      .movie-card__poster-wrap::before {
        background: rgba(0, 0, 0, .3);
      }

      .movie-card__title {
        color: var(--cyan-dark);
      }
    }
  }

  &__poster {
    &-wrap {
      position: relative;
      height: 260px;
      margin-bottom: 8px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent;
        transition: background-color .3s ease-in-out;
        border-radius: 17px;
      }
    }

    width: 100%;
    height: 100%;
    border-radius: 17px;
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
    transition: color .3s ease-in-out;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__year-genre {
    font-size: 15px;
    color: var(--gray);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.rating {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  min-width: 32px;
  min-height: 20px;
  padding: 0 5px;
  border-radius: 5px;
  background: var(--gray-dark);
} 
