include ./pug/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MovieSeek
    link(rel="icon" href="./img/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="./style.min.css")
    script(defer src="./app.min.js")
  body
    #app 
      .background

      header.header 
        .container.header__container 
          +logo('logo_active header__logo', '#')
          form.header__search(action="GET") 
            input.header__search-field(type="search" placeholder="Поиск")
            button.header__search-btn(type="submit") 
              svg.header__search-icon
                use(xlink:href="@img/sprite.svg#loupe")
          .header__sign
            button.header__sign-btn.header__sign-in(type="button") Войти
            button.header__sign-btn.header__sign-up(type="button") Зарегистрироватся

      h1.main__title.js-main__title.visually-hidden
      .container.content-container
        aside.aside
          .aside__container
            nav.nav.aside__nav.js-nav
              button.nav__link(type="button" data-nav="pageMain") 
                svg.nav__icon
                  use(xlink:href="@img/sprite.svg#home")
                span.nav__text Главная
              button.nav__link(type="button" data-nav="pageFilm") 
                svg.nav__icon
                  use(xlink:href="@img/sprite.svg#film")
                span.nav__text Фильмы
              button.nav__link(type="button" data-nav="pageSerial") 
                svg.nav__icon
                  use(xlink:href="@img/sprite.svg#serials")
                span.nav__text Сериалы
              button.nav__link(type="button") 
                svg.nav__icon
                  use(xlink:href="@img/sprite.svg#actor")
                span.nav__text Актеры

        main.main.js-main
          section.main-movie
            .container.main-movie__container 
              .main-movie__content
                a.main-movie__link(href="#") 
                .main-movie__info
                  h3.main-movie__title 
                    a(href="#") Дом дракона
                  p.main-movie__desc Таргариены ведут друг с другом ожесточенную борьбу за Железный трон. Самый долгожданный сериал года
                  ul.main-movie__structure
                    li.main-movie__structure-item
                      span.main-movie__structure-title В главных ролях:&nbsp;
                      span.main-movie__structure-text Юрий Колокольников, Семён Трескунов, Ксения Раппопорт
                    li.main-movie__structure-item
                      span.main-movie__structure-title Режиссер:&nbsp;
                      span.main-movie__structure-text Александр Незлобин
                .main-movie__poster-wrap
                  img.main-movie__poster(src="@img/movie-preview/preview-big-1.jpg" alt="Постер к главному фильму")

      footer.footer
        .container
          .footer__container
            .footer__top.row
              .footer__block.col-3
                +logo('col-3 logo_active footer__logo', '#')
              .footer__block.col-2
                .footer__title Навигация
                ul.footer__list 
                  li.footer__item 
                    a.footer__text(href="#") Главная
                  li.footer__item 
                    a.footer__text(href="#") Новости
                  li.footer__item 
                    a.footer__text(href="#") Фильмы
                  li.footer__item 
                    a.footer__text(href="#") Сериалы
                  li.footer__item 
                    a.footer__text(href="#") Актеры
              .footer__block.col-2
                .footer__title Аккаунт
                ul.footer__list 
                  li.footer__item 
                    button.footer__text(type="button") Вход
                  li.footer__item 
                    button.footer__text(type="button") Регистрация
            .footer__bottom 
              span.footer__copyright Copyright © 2022. All rights reserved.
              .footer__info
                a.footer__info-link(href='#') Terms of use
                a.footer__info-link(href='#') Privacy policy



