include ./pug/mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title MovieSeek
    link(rel="icon" href="./img/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="./style.min.css")
    script(defer src="./app.min.js")
  body
    #app 
      .background

      header.header 
        .container.header__container 
          +logo('logo_active header__logo', '#')
          form.header__search(action="GET") 
            input.header__search-field(type="search" placeholder="Поиск")
            button.header__search-btn(type="submit") 
              svg.header__search-icon
                use(xlink:href="@img/sprite.svg#loupe")
          .header__sign
            button.header__sign-btn.header__sign-in(type="button") Войти
            button.header__sign-btn.header__sign-up(type="button") Зарегистрироватся

      h1.main__title.js-page-title.visually-hidden
      .container.content-container
        aside.aside
          .aside__container
            nav.nav.aside__nav.js-nav
              button.nav__link.js-nav__link(type="button" data-page-type="pageMain") 
                svg.nav__icon
                  use(xlink:href="@img/sprite.svg#home")
                span.nav__text Главная
              button.nav__link.js-nav__link(type="button" data-page-type="pageFilm") 
                svg.nav__icon
                  use(xlink:href="@img/sprite.svg#film")
                span.nav__text Фильмы
              button.nav__link.js-nav__link(type="button" data-page-type="pageSerial") 
                svg.nav__icon
                  use(xlink:href="@img/sprite.svg#serials")
                span.nav__text Сериалы
              button.nav__link(type="button") 
                svg.nav__icon
                  use(xlink:href="@img/sprite.svg#actor")
                span.nav__text Актеры

        main.main.js-main
          section.promo.js-promo
            .container.promo__container 
              .promo__content
                span.js-promo__rating.promo__rating.rating
                a.promo__link(href="#") 
                .promo__info
                  h3.promo__title 
                    button.js-promo__title(type="button")
                  p.js-promo__overview.promo__overview
                  ul.promo__structure
                    li.promo__structure-item
                      span.promo__structure-title В главных ролях:&nbsp;
                      span.js-promo__staring.promo__structure-text
                    li.promo__structure-item
                      span.promo__structure-title Режиссер:&nbsp;
                      span.js-promo__director.promo__structure-text
                .promo__poster-wrap
                  img.js-promo__poster.promo__poster(src="" alt="")

      footer.footer
        .container
          .footer__container
            .footer__top.row
              .footer__block.col-3
                +logo('col-3 logo_active footer__logo', '#')
              .footer__block.col-2
                .footer__title Навигация
                ul.footer__list 
                  li.footer__item 
                    a.footer__text(href="#") Главная
                  li.footer__item 
                    a.footer__text(href="#") Новости
                  li.footer__item 
                    a.footer__text(href="#") Фильмы
                  li.footer__item 
                    a.footer__text(href="#") Сериалы
                  li.footer__item 
                    a.footer__text(href="#") Актеры
              .footer__block.col-2
                .footer__title Аккаунт
                ul.footer__list 
                  li.footer__item 
                    button.footer__text(type="button") Вход
                  li.footer__item 
                    button.footer__text(type="button") Регистрация
            .footer__bottom 
              span.footer__copyright Copyright © 2022. All rights reserved.
              .footer__info
                a.footer__info-link(href='#') Terms of use
                a.footer__info-link(href='#') Privacy policy

    //- .overlay 
      .popup.movie
        .container.movie__container
          .movie__poster-wrap 
            img.movie__poster(src="@img/movie-preview/house-of-dragon.jpg", alt="")
          .movie__info
            .movie__main
              .movie__title-release
                h2.movie__title Дом дракона
                span.movie__release (сериал 2022 - ...)
              .movie__title-original-certification
                span.movie__title-original House of the Dragon
                span.movie__certification 18+
            .movie__about 
              h2.movie__about-title О фильме
              ul.movie__about-list
                li.movie__about-item 
                  span.movie__about-heading Год производства
                  span.movie__about-text 2022 (1 сезон)
                li.movie__about-item 
                  span.movie__about-heading Платформа
                  span.movie__about-text HBO
                li.movie__about-item 
                  span.movie__about-heading Страна
                  span.movie__about-text США
                li.movie__about-item 
                  span.movie__about-heading Жанр
                  span.movie__about-text фэнтези, боевик, драма, мелодрама
                li.movie__about-item 
                  span.movie__about-heading Слоган
                  span.movie__about-text «Fire Will Reign»
                li.movie__about-item 
                  span.movie__about-heading Режиссер
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Сценарий
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Продюсер
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Оператор
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Композитор
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Художник
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Монтаж
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Премьера в мире
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Цифровой релиз
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Возраст
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...
                li.movie__about-item 
                  span.movie__about-heading Время
                  span.movie__about-text Клер Килнер, Мигель Сапочник, Грег Яйтанс, ...

            



            
          
       



